div.intro {

  font-style: italic;
}

div.intro h2 {
  color: red;
}

img.intro {

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;


}

h1 {
  text-align: center;
  color: red;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;

}

.highlight {
  border: 1px solid black;
  background-color: yellow;
}
